body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 2;
    gap: 1rem;
    height: 95vh;
}

.sliders {
    border-radius: 1rem;
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.output {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    height: 95vh;
    width: 45vw;
}

.half {
    border-radius: 1rem;
    height: auto;
    flex: 1;
    gap: 1rem;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.box {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.box > div {
    background-color: rgb(63, 248, 248);
    width: 25vw;
    height: 20vh;
    margin: auto auto;
}

.css {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
 